//@import '~vuetify/src/stylus/main'
//

///// @import '~vuetify/src/stylus/app'

//// @require '~vuetify/src/stylus/settings/*'
@require '~vuetify/src/stylus/settings/_colors'
@require '~vuetify/src/stylus/settings/_elevations'
@require '~vuetify/src/stylus/settings/_rtl'
@require '~vuetify/src/stylus/settings/_theme'
@require '~vuetify/src/stylus/settings/_variables'

//// @require '~vuetify/src/stylus/generic/*'
@require '~vuetify/src/stylus/generic/_animations'
@require '~vuetify/src/stylus/generic/_colors'
@require '~vuetify/src/stylus/generic/_elevations'
@require '~vuetify/src/stylus/generic/_reset'
@require '~vuetify/src/stylus/generic/_transitions'

//// @require '~vuetify/src/stylus/elements/*'
@require '~vuetify/src/stylus/elements/_blockquote'
@require '~vuetify/src/stylus/elements/_code'
@require '~vuetify/src/stylus/elements/_global'
@require '~vuetify/src/stylus/elements/_headings'
@require '~vuetify/src/stylus/elements/_lists'
@require '~vuetify/src/stylus/elements/_typography'

////@require '~vuetify/src/stylus/tools/*'
@require '~vuetify/src/stylus/tools/_bootable.styl'

//// @require '~vuetify/src/stylus/trumps/*'
@require '~vuetify/src/stylus/trumps/_display'
@require '~vuetify/src/stylus/trumps/_helpers'
@require '~vuetify/src/stylus/trumps/_spacing'
@require '~vuetify/src/stylus/trumps/_text'
@require '~vuetify/src/stylus/trumps/_transition'

@import '~vuetify/src/stylus/components/*'
